<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='msg'>
        <p>{{msg}}</p>
        <hr>
        <!-- 两个单选按钮都双向绑定给data中的ischeck，无论哪个单选按钮被选中，被选中的单选按钮的value都会同步给ischeck -->
        <input type="radio" value="男" v-model="ischeck">男
        <input type="radio" value="女" v-model="ischeck">女 {{ischeck}}
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '111',
                ischeck: '空'
            },
            methods: {
                handle: function() {

                }
            }
        })
    </script>
</body>

</html>