<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <label for="nan">
            <p> <input type="radio" value="男" id="nan" v-model='msg'> 男</p>
        </label>
        <label for="nv">    
            <p><input type="radio" value="女" id="nv" v-model='msg'> 女</p>
        </label>
        &nbsp;性别：{{msg}}
        <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    msg: ''
                }
            })
        </script>
    </div>
</body>

</html>