<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="box" @keyup.enter="submit">
            <input type="text" v-model="mun1">
            <select v-model="sep">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
                <option value="%">%</option>
            </select>
            <input type="text" v-model="mun2">
            <button @click="submit">按钮</button>
            <p v-show="f">{{mun1}}{{sep}}{{mun2}}={{jg}} </p>
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                mun1: "",
                mun2: "",
                sep: "+",
                jg: "",
                f: false,
            },
            methods: {
                submit: function () {
                    this.mun1 = parseFloat(this.mun1)
                    this.mun2 = parseFloat(this.mun2)
                    if (this.sep == '+') {
                        this.f = true;
                        this.jg = this.mun1 + this.mun2
                    } else if (this.sep == '-') {
                        this.f = true;
                        this.jg = this.mun1 - this.mun2
                    } else if (this.sep == '*') {
                        this.f = true;
                        this.jg = this.mun1 * this.mun2
                    } else if (this.sep == '/') {
                        this.f = true;
                        this.jg = this.mun1 / this.mun2
                    } else if (this.sep == '%') {
                        this.f = true;
                        this.jg = this.mun1 % this.mun2
                    }
                }
            },
        })
    </script>
</body>

</html>