<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>

    <div id="app">
        input的输入值会同步到p标签中,.trim过滤两端的空格 ,.lazy将input事件改为change事件(输入结束失去光标才会出发)<br>
        <input type="text" v-model.trim.lazy="msg">
        <p id="qq"> p标签:{{msg}} </p>
        <hr>
        两个或者多个复选关联的是value 值:
        <input type="radio" v-model="msg2" value="男">男
        <input type="radio" v-model="msg2" value="女">女 &nbsp;&nbsp;性别:{{msg2}}
        <p>一个复选关联的是布尔值:
            <input type="checkbox" v-model="msg3">{{msg3}}
        </p>
        <p>多个复选关联的是数组:
            <input type="checkbox" v-model="msg4" value='1'>
            <input type="checkbox" v-model="msg4" value='2'>
            <input type="checkbox" v-model="msg4" value='3'>
            <input type="checkbox" v-model="msg4" value='4'>{{msg4}}
        </p>
        <p>下拉列表选中单个option关联的是单个value:
            <select name="" id="" v-model="msg5">
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
            </select>{{msg5}}
        </p>
        <p>下拉列表选中多个option关联的是单个value同步到数组中:
            <select name="" id="" v-model="msg6" multiple>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
            </select>{{msg6}}
        </p>
    </div>
    <script src='vue.js'></script>
    <script>
        var qq = document.querySelector('#qq')
        new Vue({
            el: '#app',
            data: {
                msg: '',
                msg2: '男',
                msg3: 'true',
                msg4: ['3'],
                msg5: 'c',
                msg6: ['c', 'd'],
            },
            methods: {},
        })
    </script>
</body>

</html>