<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="msg1">
        <input type="text" v-model="msg2">
        <p>{{msg3}}</p>
    </div>
    <script src='vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg1: 1,
                msg2: 2,
                msg3: 3,

            },
            methods: {},
            watch: {
                msg1(val) {
                    this.msg3 = +this.msg2 + (+val)
                    console.log("msg1改变的,重新计算结果");
                },
                msg2(val) {
                    this.msg3 = +this.msg1 + (+val)
                    console.log("msg2改变的,重新计算结果");
                },
            },
        })
    </script>
</body>

</html>