<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='msg'>
        <p v-text='msg'></p>
        <!-- {{aaa}} -->
        <input type="text" v-model='aaa'>
        <!-- <button @click="ddd">计算</button> -->
    </div>
    <script src='vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: '',
                // aaa: ''
            },
            methods: {
 
            },
            computed: {
                aaa:{
                    get:function(){
                        return this.msg
                    },
                    set:function(v){
                        this.msg=v
                    }
                }
            },


        })
    </script>
</body>

</html>