<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='p1'><br>
        <input type="text"v-model='p2'><button @click="msg">新增</button><br>
        加:key
        <ul>
            <li v-for="(item,index) in arr" :key="item.id"><input type="checkbox"><span>{{item.name+"-----"+item.id+"---"+index}}</span></li>
        </ul>
        <br>
        不加:key
        <ol>
            <li v-for="(item,index) in arr" ><input type="checkbox"><span>{{item.name+"-----"+item.id+"---"+index}}</span></li>
        </ol>
    </div>
    <script src='./vue.js'></script>
    <script>
        var vm=new Vue({
            el: '#app',
            data:{ 
                arr:[
                    {id:1,name:"小米"},
                    {id:2,name:"小明"},
                    {id:3,name:"小张"},
                ],
                p1:'',
                p2:'',
             },
            methods:{
                msg:function(){
                    vm.arr.unshift({id:vm.p1,name:vm.p2})
                }
            },
        })
    </script>
</body>
</html>