<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="aaa">{{aaa}} <br>

        <input type="radio" v-model="bbb" value="1">男
        <input type="radio" v-model="bbb" value="2">女 {{bbb}} <br>

        <!-- 复选框,单个绑定的是布尔值 -->

        <input type="checkbox" v-model="ccc" value="1">{{ccc}}同意 <br>

        <!-- 复选框,多个是绑定到数组 -->

        <input type="checkbox" v-model="ddd" value="a">
        <input type="checkbox" v-model="ddd" value="b">
        <input type="checkbox" v-model="ddd" value="c">{{ddd}}
        <br><br>
        <!-- 下拉列表,选中单个绑定的值 -->
        <select name="" id="" v-model="abcd">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
        </select>{{abcd}}
        <!-- 下拉列表,选中多个绑定的值存到数组中   multiple是多选属性 -->
        <select name="" id="" v-model="abcde" multiple>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
            <option value="e">e</option>
        </select>{{abcde}}
    </div>
    <script src='vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                aaa: "",
                bbb: 1,
                ccc: true,
                ddd: [],
                abcd: 'c',
                abcde: []
            },
            methods: {},
        })

        
    </script>
</body>

</html>