<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <ul>
            <li v-for="(item,index) in arr"> {{item}} {{index}} </li>
        </ul>
        <ul>
            <li v-for="(item) in arr1" :key='item.id'> {{item.name}} {{item.age}} </li>
        </ul>
        <div v-for="(v,k,i) in obj"> {{v+k+i}} </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                arr: ['red', 'blue', 'green'],
                arr1: [{
                    id: 0,
                    name: 'zxd',
                    age: 18
                }, {
                    id: 1,
                    name: 'zs',
                    age: 18,
                }, {
                    id: 2,
                    name: 'ldh',
                    age: 18
                }, ],
                obj: {
                    name: 'zzz',
                    age: 18,
                    gender: 'nan'
                },
            },

            methods: {},
        })
    </script>
</body>

</html>